    .menu{display:block;
    margin:0 auto;
   font-size: 16px;
   text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	background: #eeeeee;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    }
     
    .menu li{display: inline-block;
    position: relative;
    z-index:1000;
}
     
    .menu li a {font-weight:600;
    text-decoration:none;
    padding:14px 18px;
    display:block;
   color:#ffffff;
  
    }
     
    .menu li a:hover, .menu li:hover > a{color:#ffffff;
   background: #c6c6c6;
}
    /* hide the second level menu */
    .menu ul {display: none;
    margin: 0;
    padding: 0;
    width: 160px;
    position: absolute;
    top: 46px;
    left: 0px;
    background: #ffffff;
    z-index: 100000;

    }
     
    /* display second level menu on hover */
    .menu li:hover > ul{ display: block;
     border:1px solid #dedede;
}
     /*row*/   
    .menu ul li {display:block;
    float: none;
    background:none;
    margin:0;
    padding:0;
    }
  
    .menu ul li a {font-size:14px;
    font-weight:normal;
    display:block;
    color:#797979;
    border-left: 3px solid #ffffff;
    background:#ffffff;}
     
    .menu ul li a:hover, .menu ul li:hover > a{
    background:#f0f0f0;
    border-left:3px solid #9CA3DA;
    color:#232323;
    }
    /* change level 3 menu positions */
    .menu ul ul {left: 149px;
    top: 0px;
    }
/*******************MOBILE MENU***************/

    .mobile-menu{display:none;
    width:96%;
    padding:11px;
    background:#3E4156;
    color:#ffffff;
    text-transform:uppercase;
    font-weight:600;
    }
    .mobile-menu:hover{background:#3E4156;
    color:#ffffff;
    text-decoration:none;
    }
    
   @media (max-width: 768px) {
     
    .menu{display:none;}
     
    .mobile-menu{display:block;
    margin-top:100px;}
     
    nav{margin:0;
    background:none;}
    
     
    .menu li{display:block;
    margin:0;}
     
    .menu li a {background:#ffffff;
    color:#797979;
    border-top:1px solid #e0e0e0;
    border-left:3px solid #ffffff;}
     
    .menu li a:hover, .menu li:hover > a{
    background:#f0f0f0;
    color:#797979;
    border-left:3px solid #ffffff;
   }
     
    /*level 2 and 3 - make same width as all items*/
    .menu ul {display:block;
    position:relative;
    top:0;
    left:0;
    width:100%;
     }
     
     
    .menu ul ul {left:0;}
     
    }/*end media queries*/
    
    
    /* STYLES
-----------------------------*/

/* 1 black */
ul.menu.black{
	background: #383838;
	}
	.black ul li > a, .black > ul li{ color: #232323; }
.mobile-menu.black, .black > li:hover > a, .black > li.active > a, .black .dropdown li:hover > a{ color: #fff; background: #000000; }
.menu.black ul li a:hover, .menu.black ul li:hover > a{ border-left:3px solid #383838;}
ul.menu.red{
	background: #c21a01;
}
/* 2 orange */
ul.menu.orange{ 
	background: #fa6900;
}
.orange ul li > a, .orange > ul li{ color: #232323; }
.mobile-menu.orange, .orange > li:hover > a, .orange > li.active > a, .orange .dropdown li:hover > a{ color: #fff; background: #e65400;}
.menu.orange ul li a:hover, .menu.orange ul li:hover > a{ border-left:3px solid #fa6900;}
/* 3 red */
ul.menu.red{
	background: #c21a01;}
.red ul li > a, .red > ul li{ color: #232323;}
.mobile-menu.red, .red > li:hover > a, .red > li.active > a, .red .dropdown li:hover > a{ color: #fff; background: #a51701;}
.menu.red ul li a:hover, .menu.red ul li:hover > a{ border-left:3px solid #c21a01;}


/* 4 green */
ul.menu.green{ 
	background: #519548;
}
.green ul li > a, .green > ul li{ color: #232323; }
.mobile-menu.green, .green > li:hover > a, .green > li.active > a, .green .dropdown li:hover > a{ color: #fff; background: #457f3d; }
.menu.green ul li a:hover, .menu.green ul li:hover > a{ border-left:3px solid #519548;}


/* 5 lemon */
ul.menu.lemon{ 
	background: #88c425;
}
.lemon ul li > a, .lemon > ul li{ color: #232323; }
.mobile-menu.lemon, .lemon > li:hover > a, .lemon > li.active > a, .lemon .dropdown li:hover > a{ color: #fff; background: #73a71f; }
.menu.lemon ul li a:hover, .menu.lemon ul li:hover > a{ border-left:3px solid #88c425;}


/* 6 blue */
ul.menu.blue{ 
	background: #02b8fa;
}
.blue ul li > a, .blue > ul li{ color: #232323; }
.mobile-menu.blue, .blue > li:hover > a, .blue > li.active > a, .blue .dropdown li:hover > a{ color: #fff; background: #029cd4; }
.menu.blue ul li a:hover, .menu.blue ul li:hover > a{ border-left:3px solid #02b8fa;}


/* 7 skyblue */
ul.menu.skyblue{ 
	background: #0194be;
}
.skyblue ul li > a, .skyblue > ul li{ color: #232323; }
.mobile-menu.skyblue, .skyblue > li:hover > a, .skyblue > li.active > a, .skyblue .dropdown li:hover > a{ color: #fff; background: #0180a3;}
.menu.skyblue ul li a:hover, .menu.skyblue ul li:hover > a{ border-left:3px solid #0194be;}


/* 8 yellow */
ul.menu.yellow{  
	background: #ecbe13;
}
.yellow ul li > a, .yellow > ul li{ color: #232323; }
.mobile-menu.yellow, .yellow > li:hover > a, .yellow > li.active > a, .yellow .dropdown li:hover > a{ color: #fff; background: #caa210;}
.menu.yellow ul li a:hover, .menu.yellow ul li:hover > a{ border-left:3px solid #ecbe13;}


/* 9 pink */
ul.menu.pink{ 
	background: #fe4365;
}
.pink ul li > a, .pink > ul li{ color: #232323; }
.mobile-menu.pink, .pink > li:hover > a, .pink > li.active > a, .pink .dropdown li:hover > a{ color: #fff; background: #fe143f;}
.menu.pink ul li a:hover, .menu.pink ul li:hover > a{ border-left:3px solid #fe4365;}


/* 10 purple */
ul.menu.purple{ 
	background: #a737fa;
}
.purple ul li > a, .purple > ul li{ color: #232323; }
.mobile-menu.purple, .purple > li:hover > a, .purple > li.active > a, .purple .dropdown li:hover > a{ color: #fff; background: #920bf9;}
.menu.purple ul li a:hover, .menu.purple ul li:hover > a{ border-left:3px solid #a737fa;}
