/*
Start MODx Evolution Responsive Template
author: http://www.tattoocms.it/
*/
/* -------------------------[ Forms and eforms]--- */
form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
form{display:block; width:100%;}
#respond form label, form textarea{margin-bottom:15px;}
form textarea{overflow:auto;}

form label{
color: #499bea;
display:inline; 
cursor:pointer}
fieldset{border:none}
input, select, textarea, option, optgroup, td{
font:inherit; 
color:inherit}
form select{
vertical-align:middle; 
margin:0 0 5px; 
font-family:inherit; 
display:inline-block; 
outline:0; 
padding:5px 6px; 
border:1px solid #ccc; 
background:#fff; 
color:#444; 
text-decoration:none; 
-webkit-box-sizing:content-box; 
-moz-box-sizing:content-box; 
-ms-box-sizing:content-box; 
-o-box-sizing:content-box; 
box-sizing:content-box; 
-webkit-border-radius:4px; 
-moz-border-radius:4px; 
-ms-border-radius:4px; 
-o-border-radius:4px; 
border-radius:4px}

form input, form textarea{
background:#fff; 
border:1px solid #ccc; 
margin:0 2px 0 0; 
padding:2px 7px;
vertical-align:baseline; 
-moz-border-radius:4px; 
-webkit-border-radius:4px; 
-ms-border-radius:4px; 
-o-border-radius:4px; 
border-radius:4px; 
}
form select:focus, 
form input[type=text]:focus, 
form textarea:focus{
border:1px solid #499bea}

input.checkbox, input.radio, input.submit, input.button, input[type="checkbox"], input[type="radio"], input[type="submit"], input[type="button"]{
height:auto; 
width:auto; 
cursor:pointer; 
cursor:hand}

.form{
padding:15px; 
border:solid 1px #ccc}

form input.hidden{
display:none!important; 
position:absolute}

.form input, .form textarea{
display:inline-block; 
float:left; 
vertical-align:middle; 
background:#FFF}

.form label{
padding-right:20px; 
text-align:right; 
width:110px}

input[type="check"]{
display:inline;  
vertical-align:middle; 
background:#FFF}

form textarea{
clear: left;
height:150px; 
width:90%; 
line-height:1.5}
input[type="text"]{
clear: left;
width:90%; 
line-height:1.5}

.form legend{
color:#499bea; 
font-weight:700; 
padding:5px}

.form select, input[type="checkbox"], input[type="radio"]{
display:inline; 
float:left}

.form br{
clear:both}

input.submit{
display:block; 
margin:20px 0 0 140px}

/* Lists - orederd and unordered */

.list{margin:10px 0; padding:0; list-style-position:inside;}
.list.indent{margin-left:20px;}
.list li{margin:6px 0 0 0; padding:0;}
.list li:first-child{margin:0;}
.list li > ul, .list li > ol{margin:8px 0 8px 30px;}

.list.disc{list-style-type:disc;}
.list.roman{list-style-type:upper-roman;}
.list.alpha{list-style-type:upper-alpha;}
.list.decimal{list-style-type:decimal;}
.list.circle{list-style-type:circle;}
.list.none, .list.block, .list.tick, .list.arrow, .list.tagcloud, .list.underline{list-style-type:none;}
.list.block li > ul, .list.block li > ol{padding:0 0 0 10px; list-style:none; border-left:1px solid #CCCCCC;}

.list.tick li, .list.arrow li{padding-left:22px; background:no-repeat 0 2px;}
.list.tick li{background-image:url("images/icons/gemicon/tick-16x16.png");}
.list.arrow li{background-image:url("images/icons/gemicon/arrow-16x16.png");}

.list.underline li{margin-bottom:8px; padding-bottom:8px; border-bottom:1px solid #E5E4E3;}
.list.underline li:last-child{margin-bottom:0;}

.list.tagcloud li{display:inline-block; margin:0 5px 5px 0;}
.list.tagcloud li a{display:block; padding:4px 10px; color:#FFFFFF; background-color:#A8A8A8; text-transform:capitalize;}
.list.tagcloud li a:hover{color:#FFFFFF; background-color:#FF9900;}

/* Base Colours */

.blue{color:#56AED4;}
.green{color:#C0E079;}
.grey{color:#A8A8A8;}
.dkgrey{color:#333333;}
.orange{color:#FF9900;}
.purple{color:#9F81A9;}
.red{color:#D54346;}
.yellow{color:#FDE803;}

.bg_blue{color:#FFFFFF; background-color:#56AED4;}
.bg_green{color:#FFFFFF; background-color:#C0E079;}
.bg_grey{color:#FFFFFF; background-color:#A8A8A8;}
.bg_dkgrey{color:#FFFFFF; background-color:#333333;}
.bg_orange{color:#FFFFFF; background-color:#FF9900;}
.bg_purple{color:#FFFFFF; background-color:#9F81A9;}
.bg_red{color:#FFFFFF; background-color:#D54346;}
.bg_yellow{color:#666666; background-color:#FDE803;}

/* Dividers */

.divider1, .divider2, .divider3{display:block; width:100%; height:20px; margin:30px 0; padding:0; border-top:1px #D6D6D6; clear:both;}
.divider1{border-top-style:solid;}
.divider2{border-top-style:dotted;}
.divider3{border-top-style:dashed;}

/* Buttons */

.button{display:inline-block; border:0px solid; text-transform:uppercase; border-radius:4px; margin:2px}

.button.small{font-size:.9em; padding:6px 15px 5px 15px;}
.button.medium{font-size:1.1em; padding:10px 20px 9px 20px;}
.button.large{font-size:1.4em; padding:18px 20px 17px 20px;}
.button.blue{color:#FFFFFF; background-color:#499bea;}
.button.blue:hover{color:#FFFFFF; background-color:#FF7F42;}
.button.green{color:#FFFFFF; background-color:#C0E079;}
.button.green:hover{color:#FFFFFF; background-color:#FF7F42;}
.button.grey{color:#FFFFFF; background-color:#A8A8A8;}
.button.grey:hover{color:#FFFFFF; background-color:#FF7F42;}
.button.orange{color:#FFFFFF; background-color:#FF7F42; }
.button.orange:hover{color:#FFFFFF; background-color:#499bea;}
.button.purple{color:#FFFFFF; background-color:#9F81A9;}
.button.purple:hover{color:#FFFFFF; background-color:#FF7F42;}
.button.red{color:#FFFFFF; background-color:#D54346;}
.button.red:hover{color:#FFFFFF; background-color:#FF7F42;}
.button.yellow{color:#333333; background-color:#FDE803;}
.button.yellow:hover{color:#FFFFFF; background-color:#FF7F42;}
.button.black{color:#FFFFFF; background-color:#000000;}
.button.black:hover{color:#FFFFFF; background-color:#FF7F42;}